<h1>Burgers!</h1>

<h2>Uneaten Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EATING TIME!</button>
        </form>

      
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">ALREADY EATEN!</button>
        </form>

      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

<div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eaten!<br>
    <input type="radio" name="devoured" value="0" checked> Available
  </div>
  <button type="submit">Add Burger</button>
</form>